@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.shader-web-background-fallback {
background-color: #000000;
background-position: center;
background-size: cover;
background-attachment: fixed;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth !important;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    filter: drop-shadow(10px);
    box-shadow: 0 0 10px #ffffff;
    user-select: none;
}

.nav-logo {
    font-size: 3rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav-logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    margin-left: 5rem;
    text-decoration: none;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #7982ef;
    border-bottom: 3px solid #7982ef;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    gap: 8rem;
    box-shadow: 0 0 10px #ffffff inset;
}

.home-content {
    top: 40%;
}

.home-content h1 {
    font-size: 6rem;
    line-height: 1.3;
    padding-bottom: 15px;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #7982ef;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.home-icons {
    gap: 1.5rem;
}

.social-icon {
    user-select: none;
}

.social-icon a {
    width: 4rem;
    height: 4rem;
    border: 0.2rem solid #7982ef;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icon a:hover {
    color: #000000;
    transform: scale(1.3) translateY(-5px);
    background-color: #7982ef;
    box-shadow: 0 0 25px #7982ef;
}

.contact-icon {
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    border: 2px solid #7982ef;
    transition: 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.contact-icon:hover {
    transform: scale3d(1.03);
    background-color: #7982ef;
    color: #000000;
    box-shadow: 0 0 25px #7982ef;
}

/* Custom scrollbar */

::-webkit-scrollbar {
    width: .75rem
}

::-webkit-scrollbar-thumb {
    border-color: #5a5a5a;
    background-color: black;
    border-radius: 5rem;
    border-width: .100rem;
    border-style: solid;
}

::-webkit-scrollbar-track {
    background-color: #333333;
}

/* CSS classes */

.spec-purple {
    color: #7982ef;
}