@import "tailwindcss";

* {
	scroll-behavior: smooth;
}

:root {
	--bg-primary: #141414;
	--bg-secondary: #171717;
	--bg-tertiary: #262626;
	--foreground: #ffffff;
	--outline: #454545;
	--purple: #7982ef;
}

body {
	color: var(--foreground);
	background: var(--bg-primary);
}

/* Custom scrollbar */

::-webkit-scrollbar {
	width: 0.75rem;
}

::-webkit-scrollbar-thumb {
	border-color: #5a5a5a;
	background-color: black;
	border-radius: 5rem;
	border-width: 0.1rem;
	border-style: solid;
}

::-webkit-scrollbar-track {
	background-color: #333333;
}

/* CSS classes */

.box-shadow {
	box-shadow: 0 0 10px #ffffff inset;
}
