/* experimental, only works on Chromium */

@keyframes animation {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.block-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.block {
    height: 200px;
    width: 300px;
    margin: 50px;
    border: 1mm solid gray;
    background-color: white;

    animation: animation linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}