@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.shader-web-background-fallback {
background-color: #000000;
background-position: center;
background-size: cover;
background-attachment: fixed;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth !important;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #000000;
    color: white;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #000000;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 10px #ffffff;
    user-select: none;
}

.nav-logo {
    font-size: 3rem;
    color: #7982ef;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav-logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: #ffffff;
    margin-left: 5rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #7982ef;
    border-bottom: 3px solid #7982ef;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    box-shadow: 0 0 10px #ffffff inset;
}

/*
.home-content {
    position: absolute;
    top: 40%;
}
*/

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 15px;
}

span {
    color: #7982ef;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #7982ef;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.home-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.social-icon {
    user-select: none;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: #000000;
    border: 0.2rem solid #7982ef;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #7982ef;
}

.social-icon a:hover {
    color: #000000;
    transform: scale(1.3) translateY(-5px);
    background-color: #7982ef;
    box-shadow: 0 0 25px #7982ef;
}

.contact-icon {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #000000;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #7982ef;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border: 2px solid #7982ef;
    transition: 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.contact-icon:hover {
    transform: scale3d(1.03);
    background-color: #7982ef;
    color: #000000;
    box-shadow: 0 0 25px #7982ef;
}

.about {
    background-color: #000000;
}

/* Custom scrollbar */

::-webkit-scrollbar {
    width: .75rem
}

::-webkit-scrollbar-thumb {
    border-color: #5a5a5a;
    background-color: black;
    border-radius: 5rem;
    border-width: .100rem;
    border-style: solid;
}

::-webkit-scrollbar-track {
    background-color: #333333;
}
