@import "tailwindcss";

* {
	scroll-behavior: smooth;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}

header a {
	transition: 0.5s ease;
}

header a:hover {
	color: #7982ef;
}

.social-icon a {
	border: 0.2rem solid #7982ef;
}

.social-icon a:hover {
	color: #000000;
	transform: scale(1.3) translateY(-5px);
	background-color: #7982ef;
	box-shadow: 0 0 25px #7982ef;
}

.contact-icon {
	border: 2px solid #7982ef;
}

.contact-icon:hover {
	transform: scale3d(1.03);
	background-color: #7982ef;
	color: #000000;
	box-shadow: 0 0 25px #7982ef;
}

/* Custom scrollbar */

::-webkit-scrollbar {
	width: 0.75rem;
}

::-webkit-scrollbar-thumb {
	border-color: #5a5a5a;
	background-color: black;
	border-radius: 5rem;
	border-width: 0.1rem;
	border-style: solid;
}

::-webkit-scrollbar-track {
	background-color: #333333;
}

/* CSS classes */

.spec-purple {
	color: #7982ef;
}

.box-shadow {
	box-shadow: 0 0 10px #ffffff inset;
}
